@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@plugin  "tailwindcss-animate";

@theme {

  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --color-primary800: #00265F;
  --color-primary600: #809CC7;
  --color-primary300:#809CC7;
  --color-primaryBubbly:#F5FAFF;
  --color-tertiary600: #EEEFF1;
  --color-tertiary300: #FAFAFA;
  --color-tertiary700:#CCD0D4;
  --color-tertiary900:#737578;
  --color-tertiary800:rgba(163, 167, 170, 1);
  --color-tertiary1000: #525355;
  --color-tertiary1100:#313233;
  --color-tertiary100:#FFFFFF;
  --color-primary1000: #001330;
  --color-primary100:#CCD7E9;
  --color-primary1100:#000B1D;
  --color-light-purple-200:#EDDCFA;
  --color-neutral-grey:#666666;
  --color-white-80:#FFFFFFCC;
  --color-captcha:rgba(119, 119, 119, 0.31);
  --color-input-border:rgba(0, 0, 0, 0.35);
  --color-light-purple:rgba(157, 113, 198, 1);
  --color-thick-purple:#5D14AD;
  --color-thick-grey-200:#F7F5F8;
  --color-thick-purple-30:#5D14AD4D;
  --color-thick-purple-5:#5D14AD0D;
  --color-medium-purple:#9747FF;
  --color-destructive :red;
  --color-border: hsl(var(--border));
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from: { height: "0" };
    to: { height: "var(--radix-accordion-content-height)" };
    }

    @keyframes accordion-up {
      from: { height: "var(--radix-accordion-content-height)" };
      to: { height: "0" };
      }
}

.bg_linear-gradient {
  background: linear-gradient(128deg, #00398F 0%, #001029 71.93%);
}
.faq-ans,
.service-accord {
  overflow: hidden;
  transition: max-height 0.75s ease;
  max-height: 0px;
}
.faq-ans.active,
.service-accord.active {
  margin-top: 0.5rem;
  max-height: 2000px;
}

:root {

  --sidebar:#001029;

  --sidebar-foreground: hsl(240 5.3% 26.1%);

  --sidebar-primary: hsl(240 5.9% 10%);

  --sidebar-primary-foreground: hsl(0 0% 98%);

  --sidebar-accent: hsl(240 4.8% 95.9%);

  --sidebar-accent-foreground: hsl(240 5.9% 10%);

  --sidebar-border: hsl(220 13% 91%);

  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {

  --sidebar: hsl(240 5.9% 10%);

  --sidebar-foreground: hsl(240 4.8% 95.9%);

  --sidebar-primary: hsl(224.3 76.3% 48%);

  --sidebar-primary-foreground: hsl(0 0% 100%);

  --sidebar-accent: hsl(240 3.7% 15.9%);

  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);

  --sidebar-border: hsl(240 3.7% 15.9%);

  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {

  --color-sidebar: var(--sidebar);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-ring: var(--sidebar-ring);
}
